.right{
    width: 25%;
    height: calc(100vh - 80px);
    /* border: 2px solid red; */
}
.left{
    width: 60%;
    height: calc(100vh - 80px);
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn{
    width: 80%;
    height: 60px;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    transition: .3s;
    background-color: aliceblue;
    padding: 5px 20px;
    border-left: 4px solid rgb(177, 7, 177);
    border-right: 4px solid rgb(177, 7, 177);
}
.btn:hover{
    background-color: rgb(18, 3, 3);
    color: aliceblue;
}

.btn-dl{
background-color: aliceblue;
padding: 10px 40px;
border-radius: 10px;
font-size: 30px;


}

.in{
    padding: 15px;
}

.container{
    width: 100%;
    /* background-color: red; */
    height: 100vh;
  
}

.middle{
    /* background-color: aqua; */
    width: 80%;
    height: 100vh !important;
    display: flex;
    justify-content: center;
    gap: 30px;
   
    flex-wrap: wrap;
    
   
}
.card{
    width: 300px;
    height: 300px;
    background-color: rgb(5, 139, 38);
   text-align: center;
   font-size: 50px;
   margin-top: 20px;
   border-radius: 15px 0;
   color: aliceblue;
   display: flex;
   flex-direction: column;
   box-shadow: -4px -3px 3px rgb(199, 195, 195);


}

.card:nth-child(even){
    background-color: rgb(155, 39, 38);
}

.top-in-card{
width: 100%;
height: 50%;
margin: 20px 0 0 0;
}

.text-in-card{
    width: 100%;
    height: 50%;
    background: white;
    color: rgb(0, 0, 0);
    border-bottom: 4px solid rgb(222, 47, 222);
    box-shadow: 2px 1px 3px 2px rgb(91, 90, 90) inset;
   
}

.java{
    background-color: rgb(23, 132, 215) !important;
}

.java:nth-child(even){
    background-color: rgb(234, 160, 23) !important;
}

.title{
    margin-top: 80px;
    color: white;
    width: 100%;
    text-align: center;
    line-height: 2;
  
}
.g{
    background-color: rgb(5, 139, 38);
    padding: 5px;
    
}

.r{
    background-color: rgb(155, 39, 38);
    padding: 5px;
    
}

.b{
    background-color:rgb(23, 132, 215);
    padding: 5px;
    
}

.y{
    background-color:  rgb(234, 160, 23);
    padding: 5px;
    
}