*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
   
}

body{
    background-color: black;
}

nav{
    background-color: transparent;
    height: 20px;
    width: 100%;
    
}
label.logo{
 

    padding: 0 100px;
    font-weight: bold;
   
  
}
label.logo img{
    width: 100px;
    margin: 15px 0px;
   
  
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{

    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  
}
nav ul li  a{
    color: aliceblue;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 10px;
  
  
}
 a.active, a:hover{

    background-color: #15b105;
    transition: 0.5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}
#check{
    display: none;
}

@media (max-width:952px) {
    label.logo{
        font-size: 30px;
        padding: 10px 50px;
       
    }
    nav ul li a{
        font-size: 16px;

    }
   
}

@media (max-width:858px) {

    .checkbtn{
        display: block;
        

    }
   
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(21, 77, 5, 0.7);
        z-index: 10;

        top: 80px;
       left:-100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
       font-size: 20px;
      
     

    }
    a:hover, a.active{
       
        background-color: antiquewhite;
      
        color: #2f803f;
 
     }
     #check:checked~ul{
        left:  0%;
     }
     .center{
        position: absolute;
        top: -200px !important;
        left:  -360px;
        font-size: 50px !important;
         transform: scale(1,1) !important;
         z-index: -1;
       
         }
        
        
     
  

        }
    

 .container{
   
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


 }

 .center{
position: absolute;
top: -100px;
right: 900px;
font-size: 100px;
transform: scale(0,0);
animation: 10s anim infinite alternate;
 }




@keyframes anim{
    0%{
        transform: scale(0,0);
    }
    50%{
        transform: scale(1,1);
       
    }
    90%{
        transform: scale(1,1);
       
    }
    100%{
        transform: scale(0,0) rotate(360deg);
    }
}

.letter{
    text-shadow: 3px 3px 10px wheat;
    animation: 10s anim2 infinite alternate;
}

@keyframes anim2{
    0%{
        text-shadow: 3px 3px 10px wheat;
    }
    50%{
        text-shadow: 30px 30px 10px wheat;
        color:  rgb(210, 180, 123);
       
    }
    90%{
        text-shadow: -30px -30px 10px rgb(214, 165, 75);
       
    }
    100%{
        text-shadow: 3px 3px 10px rgb(225, 151, 13);
    }
}

.header{
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(rgba(65, 231, 32, 0.5),rgba(24, 32, 35, 0.5)),url(homeback.jpg);
  
  background-position: center;
    background-size: cover;
    overflow: hidden;


}






.inside{
    height: 100Vh;
    padding: 60px 8%;
    color: aliceblue;

     

}



p.slide-left{
animation-delay: 1s;
}
.links.slide-left{
    animation-delay: 2s;
}


.inside h1{
    font-size: 100px !important;
   

}
.inside p{
    width: 40%;
    font-size: 20px;
    line-height: 2;
    opacity: 0;

}

.links{
    margin-top: 30px;
    opacity: 0;
    

    
}
.links a{
    color: aliceblue;
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
   
}
.links .btn{
  border: 2px solid wheat;
  padding: 10px;
  border-radius: 30px;
}
.slide-left{
    animation: slideleft 1s linear forwards;

}
@keyframes slideleft{
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }

}
.logo.slide-left{
opacity: 0;
animation-delay: 3s;
}
