body{
    background-color: #333232;

}
#container{
    background-color: #0f2431;
    border: 5px solid #f5f4c3;
    width: 750px;
    height: 250px;
    margin: auto;
    text-align: center;

}
p{
    color: white;
    font-size: 25px;
}
input{
    width: 100px;
    margin: 25px auto;
    font-size: 30px;
    

    }
    #btn{
        margin: 25px auto auto 5px;
        padding: 6px;
        font-size: 20px;
}
